{% extends 'base.html' %}
{% block menu %}<a class="nav-link" href="{% url 'add_task' %}">Add</a>{% endblock %}
{% block main %}
    <h1>Список Моих Задач:</h1>
    {% if tasks %}
        {% for task in tasks %}
            <p>
                <b>Описание:</b> {{ task.description }}<br>
                <b>Статус:</b> {{ task.status }}<br>
                <b>Дедлайн:</b> {{ task.due_date }}<br>

                <a href="{% url 'task_detail' pk=task.pk %}">Подробнее</a>
            </p>
        {% endfor %}
    {% else %}
        <p>Нет задач.</p>
    {% endif %}
{% endblock %}