<div>
  <label for="{{ form.description.id_for_label }}">Описание:</label><br>
  {{ form.description }}
  {{ form.description.errors }}
</div><br>
<div>
  <label for="{{ form.full_description.id_for_label }}">Подробное описание:</label><br>
  {{ form.full_description }}
  {{ form.full_description.errors }}
</div><br>
<div>
  <label for="{{ form.status.id_for_label }}">Статус:</label><br>
  {{ form.status }}
  {{ form.status.errors }}
</div><br>
<div>
  <label for="{{ form.due_date.id_for_label }}">Дедлайн:</label><br>
  {{ form.due_date }}
  {{ form.due_date.errors }}
</div><br>